apiVersion: v1
kind: ConfigMap
metadata:
  name: datafy-controller-config
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "datafy-agent.labels" . | nindent 4 }}
  annotations:
    helm.sh/resource-policy: keep
  {{- with .Values.extraAnnotations }}
  {{- toYaml . | nindent 4 }}
  {{- end }}
data:
  config.yaml: |
    csi_proxy:
      {{- with .Values.ebsCsiProxy.image }}
      image:
        pullPolicy: {{ .pullPolicy }}
        repository: {{ .repository }}
        tag: {{ include "datafy-agent.ebsCsiProxyImageTag" $ }}
      {{- end }}
      {{- with .Values.ebsCsiProxy.livenessProbe }}
      livenessProbe:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.ebsCsiProxy.readinessProbe }}
      readinessProbe:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.ebsCsiProxy.resources }}
      resources:
        {{- toYaml . | nindent 8 }}
      {{- end }}
